.carouselContainer {
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.innerContainer {
    white-space: nowrap;
    transition: transform 0.3s;
}

.itemContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttonsContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

.chevronContainer {
    cursor: pointer;
}